@font-face {
    font-family:"Roboto";
    src: url("./extras/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto";
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0px;
}




/* header */
#header {
    display:flex;
    flex-direction:column;
    background-color:#1F2937
}

.topbar {
    display:flex;
    align-items:flex-start;
    padding:36px;
}

#headerlinks {
    display:flex;
    margin-left:auto;
    gap:15px;
    font-size: 24px;
}

#headerlinks a {
    color:#E5E7EB;
}

#logo {
    border: 1px solid #00000000;
    border-radius:20px;
    width:100px;
    height:100px;
}

.midsection {
    display:flex;
    justify-content:space-between;
    padding:36px;
}

.midsection .leftside {
    display: flex;
    flex-direction: column;
    gap:8px;
}

.midsection h1 {
    font-weight:900;
    font-size:48px;
    color:#F9FAF8;
    margin:0;
}

.midsection p {
    font-size:18px;
    color: #E5E7EB;
}





#mini {
    flex:0 1 auto;
    border: 1px solid #00000000;
    border-radius:5px;    
    max-width: 500px;
    max-height: 500px;
}





/* main */
#main {
    display:flex;
    flex-direction:column;

}

#main #mainheading {
    display:flex;
    justify-content:center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.lowermain {
    display:flex;
    justify-content:center;
    flex: 0 1 auto;
    gap:16px;
    margin-bottom:80px;
}

.lowermain img {
    width:200px;
    border: 3px solid #3882F6;
    border-radius:5px;
    flex: 0 1 auto;
}

.lowermain p {
    text-align:center;
    max-width:200px;
    margin:4px;
}

#one, #two, #three, #four {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* quote */

#quote {
    display:flex;
    flex-direction:column;
    background-color:#E5E7EB;
    justify-content:center;
    align-items:center;
    padding:108px;
}

.quote {
    font-size:36px;
    font-style:italic;
    color:#1F2937;
}

.qby {
    align-self:flex-end;
}


/* bottom */
#bottom {
    display:flex;
    justify-content:center;
    padding:108px;
}

#signbox {
    display:flex;
    gap:108px;
    padding:40px 84px;
    align-items:center;
    flex: 1;

    background-color: #3882F6;
    border:#00000000 1px solid;
    border-radius:8px;
}

#signupbutton {
    flex:0 0 auto;
    border:1px solid white;
}

.leftside h6 {
    font-size: 24px;
    color:#E5E7EB;
    margin:0;
}

.leftside p {
    color:#E5E7EB;
    margin:0;
}

#footer {
    display:flex;
    background-color:#1F2937;
    justify-content:center;
    align-items:center;
    padding:10px;
    color:white;
}

button {
    border:solid #00000000;
    border-radius:8px;
    background-color:#3882F6;
    color:white;
    width:100px;
    height:30px;
    font-weight:bold;
}



